<?php
return array(
    'session' => array(
        'remember_me_seconds' => 2419200,
        'use_cookies' => true,
        'cookie_httponly' => true,
        'cookie_lifetime' => 2419200,
        'gc_maxlifetime' => 2419200,
    
    ),
);
